Source: mastr-ms
Section: web
Priority: extra
Maintainer: CCG <devops@ccg.murdoch.edu.au>
Build-Depends: debhelper (>= 9), python-all, python-setuptools, python-setuptools-git, dh-apache2, python-docutils, python-sphinx, dh-virtualenv (>= 0.9)
Standards-Version: 3.9.6
Homepage: https://ccgapps.com.au
Vcs-Git: git://github.com/muccg/mastr-ms.git
Vcs-Browser: https://github.com/muccg/mastr-ms/

Package: mastr-ms
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         dbconfig-common,
         python-tz,
         python-psycopg2,
         libjs-jquery,
         libapache2-mod-wsgi,
         apache2,
         system-log-daemon,
         rsync
Recommends: postgresql-client
Description: Metabolomics Australia Sample Tracking Repository
 Mastr-MS is a web-based tool for experimental design, sample metadata
 configuration, and sample data acquisition.
