#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

## These are options for pybuild method (standard debian).
## Instead of pybuild, we make a virtualenv.
# export PYBUILD_NAME=mastrms
# export PYBUILD_VERSIONS=2.7
# export PYBUILD_SYSTEM=distutils
# export PYBUILD_DIR=mastrms
# export PYBUILD_DISABLE=test
# export PYBUILD_DISABLE_python2.7=test

# main packaging script based on dh7 syntax
%:
	dh $@ --with python-virtualenv --with apache2

override_dh_install:
	# run normal dh_install
	dh_install
	# install configuration file
	mkdir -p debian/mastr-ms/etc/mastr-ms
	cp debian/conf/app.conf debian/mastr-ms/etc/mastr-ms/mastr-ms.conf
	cp mastrms/mastrms/prodsettings.py debian/mastr-ms/etc/mastr-ms/settings.py

	# install dbconfig-common files
	mkdir -p debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/install/
	install -m 755 debian/bin/mastr-ms-syncdb debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/install/syncdb
	ln -s syncdb debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/install/pgsql
	ln -s syncdb debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/install/mysql
	ln -s syncdb debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/install/sqlite3

	mkdir -p debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/upgrade/mysql
	mkdir -p debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/upgrade/pgsql
	mkdir -p debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/upgrade/sqlite3

	install -m 755 debian/bin/mastr-ms-migrate debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/upgrade/migrate
	ln -s migrate debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/upgrade/pgsql/1.13.0
	ln -s migrate debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/upgrade/mysql/1.13.0
	ln -s migrate debian/mastr-ms/usr/share/dbconfig-common/scripts/mastr-ms/upgrade/sqlite3/1.13.0


# This uses dh-virtualenv to setup the virtualenv in /usr/share/python/mastr-ms.
# Most of Mastr-MS' dependencies are in the virtualenv and
# distribution packages aren't used.
# The exceptions are the postgresql and wsgi modules which are C
# extension modules.
# The virtualenv is initially built without the --system-site-packages
# option so that the build system packages don't influence what is in
# the virtualenv. Then the virtualenv is changes so that system
# packages can be used.
override_dh_virtualenv:
	dh_virtualenv --sourcedirectory=mastrms --no-test --extra-pip-arg="--upgrade" --extra-pip-arg="--download-cache=/tmp/pip"
	rm -f debian/mastr-ms/usr/share/python/mastr-ms/lib/python2.7/site-packages/mastrms/prodsettings.py debian/mastr-ms/usr/share/python/mastr-ms/lib/python2.7/site-packages/mastrms/prodsettings.pyc
	find debian/mastr-ms/usr/share/python/mastr-ms -name no-global-site-packages.txt -exec rm {} \;
