#
# Requirements for mastrms
#
# To see what requirements your current virtualenv is using type:
#
# $ pip freeze
#
#
# Requirements can be specified as:
#  - local files (eggs/ccg-python-build_v2_0.tar.gz)
#  - http        (http://ccg-python-build.googlecode.com/files/ccg-python-build_v2_0.tar.gz)
#  - eggs        (python-ldap>=2.3.13)
#
# http://www.pip-installer.org/en/latest/requirement-format.html
#
http://mango-py.googlecode.com/files/Mango-py-1.3.1-ccg1-1.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-extras-0.1.4.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-auth-0.3.1.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-makoloader-0.2.3.tar.gz
http://ccg-python-build.googlecode.com/files/ccg-python-build-2.3.5.tar.gz
django-picklefield==0.1.9
django-templatetag-sugar==0.1
pyparsing==1.5.6
virtualenv==1.6.4
wsgiref==0.1.2
python-memcached==1.48
Mako==0.7.0
South==0.7.5
django-extensions==0.8
#MySQL-python==1.2.3
#psycopg2==2.0.8
