Django==1.8.12
South==1.0.2
django-extensions==1.5.9
python-memcached==1.48
django-tastypie==0.13.3
zipstream==1.1.0

# Testing
dingus==0.3.4
django-nose==1.4.1

# CCG packages
ccg-django-utils==0.4.1
django-useraudit==1.0.1
