Django==1.5.5
South==0.8.2
django-extensions>=1.2.5
wsgiref==0.1.2
python-memcached==1.48
django-nose
dingus
https://bitbucket.org/ccgmurdoch/django-userlog/downloads/django_userlog-0.1.tar.gz
https://bitbucket.org/ccgmurdoch/ccg-django-extras/downloads/ccg-extras-0.1.6.tar.gz
