Django==1.6.6
South==0.8.2
django-extensions>=1.2.5
wsgiref==0.1.2
python-memcached==1.48
dingus
django-tastypie==0.11.1
zipstream
psycopg2>=2.5.0,<2.6.0
https://github.com/muccg/django-userlog/archive/2.1.0.tar.gz
https://bitbucket.org/ccgmurdoch/ccg-django-utils/downloads/ccg-django-utils-0.2.1.tar.gz
